.site-header {
    background-color: #1bbc9b;
    color: black;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.picture {
    border-radius: 75%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black 2px 5px 5px;
}

.course-link {
    color: white;

}

body {
    margin: 0;

}